nav {
	background-color: #F9A0A0;
	/*!!!!!!!!!!!*/
	overflow: auto;
	/*!!!!!!!!!!!!!*/
}

ul {
	background-color:#A11495;
	width: 40%;
	/*overflow: auto;*/
	list-style-type: none
}
li {
	background-color: #18ABF7;
	margin: 20px;
	/*!!!!!!!!!!!!!!!!!*/
	float: left
}
nav p {
	width: 50%;
	background-color: #1F59EB;
	/*!!!!!!!!!!!!!!!!!!!!*/
	float: right
}

div p {
	width: 20%;
	margin: 10px;
	background-color: #30BD72;
	float: left
}

div p:last-of-type{
	/*!!!!!!!!!!!!!!!!!!*/
	clear: both
}