html, body, div, p, h1, h2, h3, img, a,
ul, li {
	margin: 0;
	padding: 0
}
html {
	font-size: 62.5%;
	font-family: Montserrat, san-serif
}
body {
	width: 100%
}
p {
	font-family: Open Sans, san-serif
}
h2 {
	font-weight: 600;
	color: #a0f
}
ul {
	list-style-type: none
}
a {
	text-decoration: none;
	display: block
}
.wrapper {
	width: 1170px;
	margin: 0 auto;	
}
/****  SECTION HEADER **********/
#header {	
	font-size: 1.4rem;
	background-color: #9E598B;
	color: #fff;
	height: 860px;
	padding-top: 40px
}
#header #nav {
	background-color: #0DAA14;
	height: 40px;		
}
#header h1 {
	width: 100px;
	background-color: #D126F0;
	display: inline-block;
	line-height: 40px
}
#header #nav ul {	
	background-color: #0BDAFF;
	width: 730px;
	height: 100%;	
	display: inline-block;
	float: right
}
#header #nav ul li {
	float: left;
	margin-right: 20px
}
#header #nav ul a {
	padding: 10px;	
	background-color: #EAC5C5
}
#header li {
	text-transform: uppercase
}
#header li:hover {
	color: #443149
}
#header a {
	color: #fff
}
#text h3 {
	font-family: Open Sans, san-serif;
	font-size: 5.5rem;
	font-weight: 600;
	line-height: 42px;
	margin-bottom: 40px
}
#header #text {
	margin-top: 245px
}
#header span {
	display: block;
	margin-bottom: 30px
}
#header #text p {
	line-height: 24px;	
	width: 600px;
	height: 68px;
	overflow: hidden;
	margin-bottom: 55px
}
#header #text a {
	display: block;
	width: 146px;
	/*height: 40px;*/
	line-height: 40px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 21px
}

/**** SECTION ABOUT ME ****/
#about h2 {
	font-size: 3.6rem;
	text-transform: uppercase
}
#about h3 {
	font-size: 2.4rem;
	color: #333
}
#about p {
	font-size: 1.4rem;
	color: #585858;
}
#about a {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	color: #333
}
#about a:hover {
	color: #fff;
	background-color: #a0f
}
/**** SECTION MY SERVICES ****/
#my-services h2 {
	font-size: 3.0rem;
	text-transform: uppercase
}
#my-services h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #333
}
#my-services p {
	font-size: 1.4rem;
	color: #585858
}
